.featured-movie {
  --bg-image: red;

  background-image: linear-gradient(
      0deg,
      rgb(2, 21, 38) 20%,
      rgb(2, 21, 38, 0.7)
    ),
    var(--bg-image);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 3rem;
  height: 70dvh;
  display: flex;
  align-items: end;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__info {
    margin-top: auto;
    display: flex;
    gap: 3rem;

    .poster {
      outline: 2px solid rgb(255, 255, 255, 0.1);
      border-radius: 0.5rem;
      object-fit: cover;
      height: clamp(24rem, 10vw, 30rem);
      aspect-ratio: 3/4.5;
      box-shadow: 0px 16px 60px -5px rgb(255, 255, 255, 0.1);
    }

    .info {
      max-width: 70%;
      padding-block: 2rem;

      h2 {
        font-size: clamp(2rem, 4vw, 3rem);
      }

      p {
        font-size: clamp(1rem, 2vw, 1.5rem);
        margin-block: 1rem;
        font-weight: 300;
        opacity: 0.6;
      }
      // align-self: flex-end;
    }

    .lang {
      margin-top: 2rem;
      font-size: 1rem;
      font-weight: 700;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 0.25rem 0.65rem;
      border-radius: 0.25rem;
      background: white;
    }
  }
}
