.movie-carousel {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &:is(:last-child) {
    margin-bottom: 2rem;
  }

  &__title {
    color: white;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    padding-inline: 2rem;
  }

  &__container {
    display: flex;
    gap: 1rem;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 2rem;
    padding: 2px 2rem;

    & > * {
      scroll-snap-align: start;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
